* {
  box-sizing: border-box;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin: 0;
}

h1, h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

.floatleft {
	float: left;
}

.tealheader {
	border-bottom: solid #cccccc;
	color: #4aaaa5;
	padding-bottom: 15px;
}

.icon {
	height: 55px;
	width: 55px;
	padding: 6px;
	padding-right: 10px;
	margin-top: 15px;
}

#header {
	background-color: #ffffff;
	padding-right: 70px;
	padding-left: 80px;
	border-bottom: thin solid #cccccc;
	height: 90px;
}

#yourname {
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  float: left;
  margin-left: 70px;
  margin-right: 375px;
  z-index: 5;
  padding: 30px;
}

#menu {
	float: left;
	list-style-type: none;
    margin-top: 40px;
    padding: 0;
}

li {
    display: inline;
}

#container {
	width: auto;
	clear: both;
	background-image: url(../../assets/images/concrete-texture.png);
}

#aboutme {
	background: #ffffff;
	float: left;
	height: 425px;
	width: 650px;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 150px;
	line-height: 1.5;
	border: thin solid #dddddd;
}

#mypicture {
	padding: 10px;
}

#social {
	text-align: center;
	background: #ffffff;
	float: right;
	width: 270px;
	height: 150px;
	padding-top: 10px;
	padding-bottom:20px;
	padding-left: 20px;
	margin-top: 30px;
	margin-right: 150px;
	border: thin solid #dddddd;
}

#connect {
	font-size: 120%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px 'Arial', 'Helvetica Neue', Helvetica, sans-serif; }

#contact input[type="text"], #contact input[type="email"], #contact textarea {
	width: 80%;
	padding: 20px;
	height: 10px;
}

#contact textarea {
	width: 80%;
	height: 100px;
	padding-right: 20px;
	padding-left: 20px;
}

fieldset {
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
	border: none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:20%;
	margin-left: 200px;
	border:none;
	background:#4aaaa5;
	color:#FFF;
	padding:10px;
	font-size:15px;
}

#portfolio {
	background: #ffffff;
	float: left;
	height: auto;
	width: 650px;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 150px;
	line-height: 1.5;
	border: thin solid #dddddd;
}

.pimages {
	height: 200px;
	width: 300px;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.label {
	color: #ffffff;
	font-family: Georgia, Times, "Times New Roman", serif;
	height: 50px;
	width: 260px;
	padding: 10px;
	background: #4aaaa5;
	position: absolute;
	margin-left: 0
	top: 150px;
	z-index: 2;
}

#l2 {
	top: 50px;
	: 50px;
}

footer {
	background-color: #666666;
	clear: both;
	border-top: thick solid #4aaaa5;
	margin: 0;
	height: 70px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}
